.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 550px;

}
#botao{
    padding: 10px;
    margin-left: 650px;
}
.textoFrase{
    text-align: center;
}